body{
    margin: 5% auto;
}

.container {
    font-size: 25px;
    margin: 0 auto;
    width: 350px;
    border: 1px solid black;
    padding: 0px 5px 5px 5px;
    border-radius: 5%
}

.row {
    width: 100%;
    height: 70px;
    /* margin: 5px; */
    display: flex;
    justify-content: space-around;
}

.col {
    width: 25%;
    margin: 5px;
}

.button {
    border: 1px solid black;
    color: black;
    cursor: pointer;
    float: left;
    font: inherit;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    border-radius: 10px;
}

.display {
    color: black;
    float: left;
    line-height: 3em;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-right: 8px;
}

.operator {
    background-color: rgb(230, 230, 230);
}

.header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -5px;
}

.footer1 {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center

}
.footer2 {
    font-size: 10px;
    margin-top: -3px;
    margin-bottom: 3px;
    text-align: center
}